<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>music room</h1>

<audio id="1" controls preload >
    <source src="data:audio/mp3;base64, {{ track_base64 }}" type="audio/mpeg">
</audio>

</body>
</html>

<script>
    function init() {
        if ("WebSocket" in window) {
            var ws = new WebSocket("ws://localhost:9091/ws/");
            ws.onopen = function () {
                console.log("Connection is opened");
                window.onload=function a (){
                    ws.send('Go to start!')
                };
            };
            ws.onclose = function () {
                console.log("Connection is closed");
            };
            ws.onmessage = function (msg) {
                var startTime = msg.data;
                var date = new Date().getTime();
                console.log(startTime);
                while (startTime != date){
                    var date = new Date().getTime();
                }
                setTimeout(func);
                console.log(1);
            };
        } else {
            console.log('Your browser doenst support WebSocket!')
        }
    }
    init();

    function func() {
        var audio = document.getElementById(1);
            audio.play();
        }
</script>